body {
  font-family: "Open Sans Condensed", sans-serif;
  background: linear-gradient(90deg, #830f0f 21px, transparent 1%) center,
    linear-gradient(#830f0f 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
}
